@page
@model MinimalAPiTest.Pages.Categorias.addModel
@{
	ViewData["Title"] = "Guardar Categorias!";
}
<Body>
	<h1>Crear Categoria</h1>
	<article class="row">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="test-danger"></div>

			<article class="form-group">
				<label asp-for="CategoriaGuardable.Nombre" class="control-label"></label>
				<input asp-for="CategoriaGuardable.Nombre" class="form-control">
				<span asp-validation-for="CategoriaGuardable.Nombre" class="text-danger"></span>
			</article>

			<article class="form-group">
				<label asp-for="CategoriaGuardable.Descripcion" class="control-label"></label>
				<input asp-for="CategoriaGuardable.Descripcion" class="form-control">
				<span asp-validation-for="CategoriaGuardable .Descripcion" class="text-danger"></span>
			</article>

			<article class="form-group">
				<input type="submit" value="add" class="btn-lg float-end btn-primary ">
			</article>
			<article class="form-group" style="display: inline-block;">
				<a asp-page="Index" class="btn btn-light">Volver al listado</a>
			</article>
		</form>		
	</article>
</Body>
